.background--dark nav .menu > li > a {
    color: #464547 !important;
}

.background--dark nav .menu > li > a:hover{
    color: #00afee !important;
}

.header_1.page_header_centered .header_wrapper, .header_1.fullwidth_slider_page .header_wrapper{
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
}

nav .menu > li > a{
    text-align: center;
    display: inline-block;
    width: 100%;
}

nav .menu > li{
    min-width: 80px;
}

nav .menu > li > ul.sub-menu{
    position: fixed;
    top: 112px;
    left: 0%;
    width: 100% !important;
}

nav .menu > li.menu-item-has-children:hover::before{
    display: block;
}

nav .menu > li.menu-item-has-children::before{
    content: 'fck';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -7px;
    content: '';
    border-width: 0 7px 7px 7px;
    border-style: solid;
    border-color: transparent transparent #464547 transparent;
    display: none;
}

nav .menu li > ul.sub-menu li{
    width: auto;
}

nav .menu li > ul.sub-menu div.sub-wrapper{
    position: absolute;
    left: 50%;
    width: 100%;
}